@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

body {
    background-color: rgb(255, 254, 254);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Libre Franklin'
}

.activity_card{margin-bottom: 1rem;}

.card {
    border-width: 4px; 
}

.article-text{
    text-align: center;
    font-size: 1.15rem;
}

.article-image{
    width: 30vw;
    height: 50vh;
}

.club-header-image
{
    width: 25vw;
    height: 30vh;
}

.headline{
    font-size: 3.5rem;
    font-weight: bold;
}

.sub-headline{
    font-size: 1.25rem;
}

.author{
    font-size: 1.75rem;
}

span.page-title-college{
    font-size: 50px;
    font-weight: bold;
    color: rgb(6, 141, 6);
}

span.page-title-club{
    font-size: 50px;
    font-weight: bold;
    color: rgb(16, 12, 83);
}

.card-title{
    font-size: 35px;
   
}
.card-text{
    font-size: 20px;
}

.sub-heading{
    font-size: 30px;
}

.card-body
{
    padding: 0.7rem;
}

span.subtext
{
    font-size: 30px;
    font-weight: bold;
    color: rgb(10, 10, 255);
}

.borders-articles
{
    border: solid;
    border-width: 2px;
    border-color: rgb(34, 32, 32);
    border-radius: 5px;

    height: 20vh;
}

.card-img-top{
    height: 40vh;
}

.document
{
    height: 25vh;
}

.document-title
{
    font-size: 40px;
    font-weight: 900;
}

.title-card{
    border-width: 0px;
}

.minor-card-title{
    font-size: 30px;
    font-weight: bold;
    color: rgb(7, 83, 7);
}

.nav-item {
    padding: 10px;
}

a.button_link {
    color: white;
    text-decoration: none;
}
.active > a.button_link {
    color: black;
    text-decoration: none;
}

a.dropdown-item {
    color: black;
    text-decoration: none;
}

li > a > p {
    margin: 0%;
}
p.active {
    font-weight: bolder;
}

span.header_text_lg {
  font-size: 105px;
  font-family:  'Poppins';
  letter-spacing:0.05em;
  color: whitesmoke;
  text-shadow: 6px 6px black;
}

button{
    font-family: 'Poppins';
    font-weight: bolder;
}


span.header_text_sm {
    font-size: 80px;
    font-family: 'Poppins';
    letter-spacing:0.05em;
    color: whitesmoke;
    text-shadow: 4px 4px rgba(0,0,0,0.7);
    font-weight: 800;
  }

span.card_title_text {
    font-family: 'Poppins';
    letter-spacing:0.05em;
    color: whitesmoke;
    font-weight: 800;
    font-size: 45px;
}


span.title_text {
    font-family: 'Poppins';
    letter-spacing:0.05em;
    font-weight: 800;
    font-size: 45px;
    color: black;
}

span.body_text_sm{
  font-family: 'Roboto Mono', monospace;
  letter-spacing:0.05em;
  color: rgba(0, 0, 0);
  font-weight: bolder;
  font-size: 20px;
}


span.body_text_lg{
    font-family: 'Roboto Mono', monospace;
    letter-spacing:0.05em;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 30px;
  }

p.footer_text{
    color: white;
    font-size: 1rem;
    margin: 5px 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}



.dark-cyan {
    background-color: rgb(10, 212, 185);
}

.red {
    background-color: #ff004c; 
}

.black {
    background-color: rgb(162, 156, 165);
}

.purple{
    background-color: #CC33FF;
}

.green{
    background-color: rgb(24, 87, 24);
}

.blue{
    background-color: rgb(16, 12, 83);
}

.text_card {
    margin:auto
}


.activity_card img{
    height: 400px;
}

.social a {
    font-size: 35px;
    margin: 7px;
}

i {
    font-size: 50px;
  }
  
  .fa-youtube {
    color: red;
  }
  
  .fa-instagram {
    color: rgb(237, 83, 178);
  }
  
  .fa-facebook {
    color: blue;
  }



/*Medium*/
@media only screen and (max-width: 992px) {
    .activity_card{
        margin-bottom: 1rem;
    }

    #stuco_rebrand_text {
        font-size: 20px;
    }

    span.header_text_lg {
        font-size: 60px;
    }

    span.header_text_sm {
        font-size: 50px;
    }

    span.body_text_lg {
        font-size: 35px;
    }

    span.title_text {
        font-size: 32px;
    }

} 

/*Small*/

@media only screen and (max-width: 768px) {
    .text_card{margin-top: 1rem;}

    span.header_text_lg {font-size: 55px;}
    
    span.header_text_sm {font-size: 50px;}
   
   }


 /*Extra Small */
@media only screen and (max-width: 600px) {
    .text_card{margin-top: 1rem;}

    .activity_card{margin-bottom: 1rem;}

    span.header_text_lg {font-size: 38px;}
    
    span.header_text_sm {font-size: 32px;}
    
    .social a {font-size: 25px; margin: 7px;}

    p.footer_text{font-size: 15px;}

    span.card_title_text{font-size: 35px;}

    span.title_text{font-size: 30px;}

    span.body_text_lg {font-size: 20px;}

    span.body_text_sm {font-size: 14px;}

    #activities_recap {
        margin: auto;
        display: inline;
        font-size: 22px;
    }

    .rebrand_img {
        height: 250px;
    }


}